.icon {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  &.info {
    background-image: url("~@/assets/img/icon/icon-info.svg");
  }
}

.size {
  &-default {
    width: 24px;
    height: 24px;
  }
  &-small {
    width: 20px;
    height: 20px;
  }
}
