$base-padding: 4px;
$base-margin: 4px;

$color-danger-hover: #FF4833;
$color-mint: #58B087;

$base-font-size: 14px;

$color-teal: #30B8BB;
$color-teal-fade: #29AFB1;
$color-teal-dark: #2A89A7;
$color-teal-hover: #1BA5A8;
$color-teal-light: #95dddf;
$color-teal-click: #2DABAE;
$color-teal-lighter: #EBF8F8;
$color-danger: #F5646C;
$color-danger-hover: #e25158;
$color-warning: #F59864;
$color-warning-hover: #f18242;
$color-purple: #695480;
$color-purple-dark: #3B3E53;
$color-black: #252733;
$color-blue: #1399ff;
$color-blue-dark: #0b7ace;
$color-blue-light: #61B8E9;
$color-blue-lighter: #64C1F5;
$color-gray-dark: #4B506D;
$color-gray: #9FA2B4;
$color-grey: #9FA2B4;
$color-disabled: #CFD0D6;
$color-gray-light: #C5C7CD;
$color-grey-lighter: #D2D2D2;
$color-grey-lighterer: #E2E2E2;
$color-grey-lightererer: #EBEBEB ;
// $color-silver: #DFE0EB;
// $color-silver-light: #EBEDF0;
// $color-silver-lighter: #F0F1F7;
$color-smoke: #F7F8FC;
$color-smoke-light: #FCFDFE;
$color-white: #FFF;
$color-silver: #C0C0C0;
